@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@500;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --liner-gradiant: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

button {
    padding: 21px 40px;
    border-radius: 48px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: white
}

#navigation {
    background-color: white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;

}

nav .logo {
    display: flex;
    padding-left: 10px;
}

nav .logo>img {
    width: 86.041px;
    height: 40px;
    margin-top: 8px;
}

nav .logo>h3 {
    font-size: 45px;
    padding-left: 20px;
}

.top-right-all ul li {
    list-style: none;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.top-right-all ul li a {
    text-decoration: none;
    color: #3C354F;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.nav-items .nav-top-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px;
}

.nav-items .nav-top-right img {
    padding-left: 10px;
    cursor: pointer;
}

.full-banner-flex {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -590px;
}

.banner-left {
    margin-top: 50px;
}

.content-positioning h4 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 14px;
}

.content-positioning h2 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: #8758F1;
    padding-bottom: 18px;
}

.content-positioning ul li {
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group>button:nth-child(1) {
    background-color: #FF42A5;
}

.button-group>button:nth-child(2) {
    background-color: #4EC5F7;
}

#online-gaming-flex{
    padding-bottom: 70px;
}

.online-gaming-title {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.online-gaming-title h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.online-gaming-title p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 18px;
}

.online-gaming-main {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    gap: 15px
}

.online-gaming-main>div>p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 15px;
}



/*********** Responsive codes *******/

/* nav */
@media only screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        height: auto;
        padding-bottom: 15px;
    }

    .nav-items {
        width: auto;
        flex-direction: column;
        margin-top: 15px;
    }

    .nav-items li {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {


    nav {
        padding-left: 10px;
        padding-right: 30px;
    }

    .nav-items {
        width: auto;
        gap: 18px
    }
}

/* banner */

@media only screen and (max-width: 576px) {

    #banner {
        overflow: hidden;
    }

    .full-banner-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -680px
    }

    .banner-right {
        margin-top: 50px;
    }

    .banner-right img {
        max-width: 370px;
        max-height: 470px;
    }
}


@media only screen and (min-width: 577px) and (max-width: 768px) {


    .full-banner-flex {
        padding-left: 10px;
        padding-right: 10px;
    }

    .content-positioning h4 {
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;
        padding-bottom: 14px;
    }

    .content-positioning h2 {
        font-size: 70px;
        font-weight: 800;
        text-transform: uppercase;
        color: #8758F1;
        padding-bottom: 18px;
    }


    button {
        padding: 16px 20px;
        font-size: 14px;
    }

    .button-group {
        flex-direction: column;
        gap: 10px;
    }

    .banner-right img {
        max-width: 400px;
    }

}

/********* Online gaming section ***********/

@media only screen and (max-width: 576px){
    .online-gaming-main {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 15px;
    }

    .online-gaming-main > div{
        margin-bottom: 20px;
    }

    
}

@media only screen and (min-width: 577px) and (max-width: 768px){
    .online-gaming-main {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px 15px;
    }

    .online-gaming-main > div{
        margin-bottom: 20px;
    }

    
}